<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.chic.admin.mapper.PermissionMapper">
    <select id="selectPermissionListByAdminId" resultType="com.github.chic.entity.Permission">
        SELECT p.*
        FROM t_admin_role_relation arr
                 LEFT JOIN t_role r ON arr.role_id = r.role_id
                 LEFT JOIN t_role_permission_relation rpr ON r.role_id = rpr.role_id
                 LEFT JOIN t_permission p ON rpr.permission_id = p.permission_id
        WHERE arr.admin_id = #{adminId}
    </select>
</mapper>
